<main>
<div class="main-content">
	<h1 class="main-header">justShare</h1>
  <div class="button-container">
    <a class="button signup-button" href="/signup">Sign Up</a>
    <a class="button login-button" href="/login">Login</a>
		<a class="button signup-button" href="/product">View Products</a>
    
  </div>
  
</div>
  
</main>
