<!DOCTYPE html>
<html>
  <head>
    <title>justShare</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Pacifico" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="nav-brand-container">
        <img id="nav-logo" src="/images/vegetables-white.png" alt="">
        <span id="nav-brand">justShare</span>
      </div>
      <div id="nav-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
