<div id='map' style='width: 400px; height: 300px;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ2lhbmZyYW5jb3IiLCJhIjoiY2p2ZGxqcGRlMGVlbzN6bzZlbnFwM3J5eiJ9.gNNdpYyAl_7ctY7fdhkraA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script>