<<<<<<< HEAD
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
    
    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  
  <div>
    <input type="submit" value="Log In">
  </div>
=======


<section class="login-page">
  <section class="form-container">
<h2>Login</h2>

<form action="" method="POST">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button id="signup-button">Login!</button>
>>>>>>> 13183e9153117d8d272f09f149f5e721a8b56817

</form>
  </section>
</section>