
<h1>Add a new Products</h1>
<form action="/product/new" enctype="multipart/form-data" method="POST">
  <label for="name">name</label>
  <input type="text" name="name" id="name">

  <label for="image">image</label>
<<<<<<< HEAD
  <input type="text" name="image" id="image">
=======
  <input type="text" name="image" id="name">
>>>>>>> feat/loginStyles

  <label for="description">description</label>
  <input type="text" name="description" id="description">

  <label for="allergens">allergens</label>
  <input type="text" name="allergens" id="allergens">

  <label for="location">location</label>
  <input type="text" name="location" id="location">

  <button type="submit">List new product</button>
</form>