html {
  font-size: 18px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

/************************ NAVBAR *************************/

nav {
  height: 7vh;
  min-height: 40px;
  background-color:rgb(5, 223, 197);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-brand-container {
  display: flex;
  align-items: center;
}

#nav-logo {
  height: 5vh;
  min-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

#nav-brand {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1rem;
}

#nav-links {
  padding-right: 20px;
}

#nav-links a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

/************************ HOMEPAGE ************************/

main {
  color: white;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(rgba(35, 119, 91, 0.472), rgba(15, 41, 47, 0.512)), url('../images/alexandr-podvalny-221880-unsplash.jpg') center / cover no-repeat; */
  /* background: linear-gradient(rgba(34, 2, 70, 0.472), rgba(13, 0, 24, 0.512)), url('../images/bread.jpg') center / cover no-repeat; */
  background: linear-gradient(rgba(2, 2, 0, 0.437), rgba(15, 19, 0, 0.401)), url('../images/bread.jpg') center / cover no-repeat;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-size: 6rem;
  color: rgb(255, 255, 255);
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  margin-bottom: 0;
}

.button {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 70px;
  background-color: rgb(5, 223, 197);
  border-radius: 15px;
  margin: 0 15px;
}

/*********************** SIGNUP ************************/

.signup-page {
  height: 93vh;
  background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(66, 66, 66, 0.5)),url('../images/markus-spiske-139525-unsplash.jpg') center / cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border-radius: 15px;
  padding: 15px 30px 30px 30px;
  color: white;
  width: 65vw;
  height: 460px;
  max-width: 600px;
  border: 3px solid rgb(5, 223, 197);
  background: rgba(5, 223, 197, .9); 
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

form input {
  margin-top: 10px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.form-button {
  height: 40px;
  border-radius: 15px;
  background-color: rgba(231, 216, 240, 0.712);
  box-shadow: 2px 2px 2px rgb(4, 209, 175);
  border: none;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}

form p {
  margin-top: 30px;
}

<<<<<<< HEAD
/*********************** LOGIN ************************/
=======
/************* SHOW PRODUCTS **************/
>>>>>>> b6684c60e85141c48fa1bfbbf5ece510f90a3750

.showProducts{
  background:linear-gradient(rgba(2, 2, 0, 0.5), rgba(15, 19, 0, 0.401)), url('../images/bread.jpg') center / cover no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
@media (min-width: 900px) {
  .showProducts{
    height: 100vh;
  }
}
.content{
  background-color: rgb(245,245,245,0.8);
  width: 90%;
  height: 90%;
  margin: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  z-index: 1; 
  border-radius: 2%; 
}
h2 {
  color: rgb(49, 40, 40);
  border-bottom: 2px solid  rgb(49, 40, 40);
  width: 280px;
  font-size: 25px;
  position: relative;
  top:10px;
  margin-bottom: 10px;
}
.display{
  width:100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display figure {
	margin:15px 10px;
  width: 250px;
  height: 250px;
	text-align: center;
}

.display figure img{
	border: 1px solid white;
  width: 200px;
  height: 150px;
	box-shadow:gray 5px 5px 10px;
  border-radius: 10%;
  margin-bottom: 5px;
} 

.display figcaption {
  margin: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 25px;
  color: rgb(49, 40, 40);
}
.display p{
  margin: 5px 5px 5px 0px;
}
.showProducts .button-container{
  margin-bottom: 10px;
}

/******************* ADD NEW ITEM ********************/

.new-page {
  height: 93vh;
  background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(66, 66, 66, 0.5)),url('../images/lettuce.jpg') center / cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-page .form-container {
  height: 420px;
}

/********************** PROFILE ***********************/

.welcome-message {
  font-size: 3rem;
  text-align: center;
}

.new-button {
  font-size: 1rem;
  width: 180px;
  padding: 30px 40px;
  background-color: rgb(241, 128, 41);
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 93vh;
}

.profile-page h3 {
  margin: 4px 0;
  font-size: 1.5rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 300px */

  padding-bottom: 80px;
}

.profile-products-container {
  background: rgba(221, 219, 219, 0.198);
  /* margin-top: 80px; */
  padding-top: 20px;
}

.profile-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}

.item {
  border: 1px solid rgb(241, 128, 41);
  width: 30%;
  box-sizing: border-box;
  min-width: 300px; 
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.profile-products-heading {
  text-align: center;
}

.product-image {
  width: 95%;
  height: 200px;
  margin: 0 auto;
}

.profile-button-container {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 5px;
  /* border-top: 1px solid black; */
}

.profile-button {
  padding: 15px 0;
  width: 70px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
}

.edit-button {
  background-color: #05DFC5
}

.delete-button {
  background-color: #00AADD
}

/********************* EDIT FORM **********************/

.edit-page {
  height: 93vh;
  background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(66, 66, 66, 0.5)),url('../images/markus-spiske-139525-unsplash.jpg') center / cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-page .form-container {
  height: 425px;
}

/********************* MEDIA QUERIES **********************/

@media(max-width:767px){

}

@media(min-width:768px){

}

@media(min-width:992px){

}

@media(min-width:1200px){

}
